$IS_DEBUG: false;

@font-face {
  font-family: 'FjallaOne';
  src: url('../../fonts/fjalla-one.ttf') format('truetype');
}

.container {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 10px;
  width: 220px;

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    &.clockRow {
      grid-template-columns: 1fr auto;
      gap: 5px;
    }
  }

  .close {
  }

  .goBack {
    justify-self: end;
  }

  .clock {
    justify-self: center;

    font-family: FjallaOne;
    font-weight: bold;
    font-size: 60px;

    & > div {
      display: flex;
      gap: 1px;
    }

    .colon {
      padding: 0 2px 3px;
      color: #000;
      -webkit-text-stroke: .1px #fff;
    }

    .digit {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      box-sizing: border-box;
      width: 42px;
      padding: 0 3px;

      background-color: #fff;
      border: 1px solid #000;
      border-radius: 8px;

      text-align: center;
      color: #000;

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: black;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .rounds {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &__roundsBtn {
      height: 24px;
    }

    & > div {
      font-size: 20px;
      text-align: center;

      & > span {
        border-radius: 5px;
        background: #fff;
      }
    }
  }

  .reset {
  }

  .postTimer {
    display: flex;
    font-family: FjallaOne;
    font-size: 28px;
    text-align: center;
    white-space: nowrap;
    color: #555;

    & > span {
      display: block;
      width: 1px;
    }
  }

  .pause {
    justify-self: end;
  }
}

.hiddenContent {
  opacity: 0;
}

.container > div {
  @if $IS_DEBUG {
    border: 1px solid red;
  }
}

.container .row > div {
  @if $IS_DEBUG {
    border: 1px dotted blue;
  }
}
